body{
  margin: 0;
  padding:0 40px;

}
.navigation {
  background-color: white;
  height: 50px;
}
#search{
	width: 300px;
	height:40px;
	border-radius: 1px;
}
.videos{
  flex-grow: 8;
  padding:20px;
  /*height: 400px;
  width: 60%; */
}
.sidebar{

 /* height: 500px;*/
 flex-grow: 4;

}
.main{
  display: flex;
  flex-wrap: wrap;
}
#links{
	padding:40;
	width:80%;
}
#form-container{
	position:absolute;
	top:20px;

	padding-left:400px;
}
.sidebar img{
	width:100%
}
#profile{
  color: white;

}
.desc{
  background-color: green;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
}
.name{
  position: absolute;
  padding-left: 30px;
}
